.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.userImg img{
    width: 100px;
    height: 100px;
    border-Radius: 50px;
}

.userImg{
    width: 110px;
    height: 110px;
    border-Radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


.user-username{
    margin-bottom: 10px;
}

.user-info{
    margin-bottom: 15px;

}

.info-changer{
    font-family: "微软雅黑";
    font-size: 15px;
    height: 30px;
}